[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}

.col-1-4 {
  width: 20%;
  height: 120px;
  background: pink;
}



nav a.active {
  color: #039be5;
}
