<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
   <div [beauty]="color">你好</div>

</div>

<!-- <ul>
  <li>
    <h2><a target="_blank" href="https://angular.io/docs/ts/latest/tutorial/">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="http://angularjs.blogspot.ca/">Angular blog</a></h2>
  </li>
</ul> -->

<div style="float:left;width:20%">
  <nav>
    <li>    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    </li>
    <li>
          <a routerLink="/heroes" routerLinkActive="active">Heroes</a>

    </li>
    <li>
          <a routerLink="/china" routerLinkActive="active">China</a>

    </li>
  </nav>
</div>
    <div style="float:left;width:80%">
          <router-outlet></router-outlet>
    </div>


